/* Estilo do contêiner de informações */
.infoContainer {
  margin: 0 auto; 
  white-space: normal; 
  word-wrap: break-word;
  padding: 10px; 
  
  overflow: hidden; 
}

/* Estilo para as animações de digitação */
.typing-effect1, .typing-effect2, .typing-effect4, .typing-effect5, .typing-effect6, .typing-effect7, .typing-effect8, .typing-effect10, .typing-effect11, .typing-effect12, .typing-effect13 {
  font-size: 20px;
  font-family: 'Courier New', Courier, monospace; /* Fonte de máquina de escrever */
  overflow: hidden; /* Esconde o texto extra */
  white-space: nowrap; /* Garante que o texto fique em uma linha */
  border-right: 3px solid #333; /* Cursor piscando */
  width: 0;
  animation: typing 2s steps(30) forwards, blink-caret 0.75s step-end infinite;
}

/* Delay para cada novo texto */
.typing-effect1 {
  animation-delay: 0s; 
}

.typing-effect2 {
  animation-delay: 1.5s; 
}


.typing-effect4 {
  animation-delay: 4s; 
}

.typing-effect5 {
  animation-delay: 5.5s; 
}

.typing-effect6 {
  animation-delay: 7s; 
}

.typing-effect7 {
  animation-delay: 8.5s; 
}

.typing-effect8 {
  animation-delay: 10s; 
}


.typing-effect10 {
  animation-delay: 13s; 
  text-align: center;
}

.typing-effect11 {
  animation-delay: 14.5s; 
  text-align: center;
}

.typing-effect12 {
  animation-delay: 16s; 
  text-align: center;
}

.typing-effect13 {
  animation-delay: 17.5s; 
  text-align: center;
}

/* Animação de digitação */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  50% {
    border-color: transparent;
  }
}

/* Estilo da imagem de perfil */
.ProfileImg {
  max-width: 30%; 
  border-radius: 50%; 
  transform: scale(0.8);
  opacity: 0; 
  transition: transform 1.5s ease-out, opacity 1.5s ease-out; 
}

/* Efeito quando a imagem de perfil aparece */
.ProfileImg.show {
  transform: scale(1); 
  opacity: 1; 
}

/* Container da imagem de perfil */
.profilePicture {
  margin-top: 80px;
}

/* Efeito especial para typing-effect3 */
.typing-effect3 {
  font-size: 20px;
  color: red;
  text-transform: uppercase;
  letter-spacing: 2px;
  animation: fade-in 12s ease-in-out, text-shadow-pulse 1.5s infinite alternate;
}

/* Efeito especial para typing-effect9 */
.typing-effect9 {
  font-size: 20px;
  color: red;
  text-transform: uppercase;
  letter-spacing: 2px;
  animation: fade-in 12s ease-in-out, text-shadow-pulse 1.5s infinite alternate;
}

/* Animações personalizadas */

/* Efeito de fade-in */
@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Efeito de pulsação do texto */
@keyframes text-shadow-pulse {
  from {
    text-shadow: 0 0 5px red, 0 0 10px orange;
  }
  to {
    text-shadow: 0 0 15px orange, 0 0 30px yellow;
  }
}

/* Efeito de slide-in */
@keyframes slide-in {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Efeito de crescimento */
@keyframes grow {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.4);
  }
}


/* Responsividade */
@media (max-width: 768px) {
  .infoContainer {
    padding: 10px;
    max-width: 100%; 

  }

  .infoContainer{
    padding: 8px;
   

    
  }

  .typing-effect1, .typing-effect2, .typing-effect3, .typing-effect4, .typing-effect5, .typing-effect6, .typing-effect7, .typing-effect8, .typing-effect9, .typing-effect10, .typing-effect11, .typing-effect12, .typing-effect13 {
    font-size: 8px; 
    white-space: normal;
  }

  .ProfileImg {
    max-width: 30%; 
    
  }
}

@media (max-width: 480px) {
  .infoContainer {

    padding: 8px;
  }

  .typing-effect1, .typing-effect2, .typing-effect3, .typing-effect4, .typing-effect5, .typing-effect6, .typing-effect7, .typing-effect8, .typing-effect9, .typing-effect10, .typing-effect11, .typing-effect12, .typing-effect13 {
    font-size: 10px; 
  }

}
